In [1]:
import boto3
import configparser
import psycopg2
from cluster_management import delete_cluster
import logging
%load_ext sql

logger = logging.getLogger()
logging.basicConfig(format="[%(levelname)s] [%(asctime)s] %(message)s")
logger.setLevel(logging.INFO)

In [2]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_IAM_ROLE_NAME      = config.get("DWH","DWH_IAM_ROLE_NAME")

redshift = boto3.client('redshift',
                   region_name="us-west-2",
                   aws_access_key_id=config.get('AWS','KEY'),
                   aws_secret_access_key=config.get('AWS','SECRET')
                   )

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
conn_string = "postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)

logger.info(conn_string)
%sql $conn_string

[INFO] [2021-04-16 12:23:29,219] postgresql://dwhuser:Passw0rd@dwhcluster.cr2tsmii5xip.us-west-2.redshift.amazonaws.com:5439/sparkifydwh

'Connected: dwhuser@sparkifydwh'

In [3]:
#expected response is (6820,)
%sql SELECT count(*) FROM staging_events_table;

 * postgresql://dwhuser:***@dwhcluster.cr2tsmii5xip.us-west-2.redshift.amazonaws.com:5439/sparkifydwh
1 rows affected.

[(6820,)]

In [4]:
#expected response is (14896,)
%sql SELECT count(*) FROM staging_songs_table;

 * postgresql://dwhuser:***@dwhcluster.cr2tsmii5xip.us-west-2.redshift.amazonaws.com:5439/sparkifydwh
1 rows affected.

[(14896,)]

In [5]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cr2tsmii5xip.us-west-2.redshift.amazonaws.com:5439/sparkifydwh
5 rows affected.

[(417, 1541150017796, '89', 'free', 'SOGKLRH12AB0187E8A', 'AR0HQE41187B9A28D3', 88, 'Cedar Rapids, IA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (483, 1541176500796, '50', 'free', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 156, 'New Haven-Milford, CT', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (475, 1541181762796, '50', 'free', 'SOBONKR12A58A7A7E0', 'AR5E44Z1187B9A1D74', 207, 'New Haven-Milford, CT', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (3, 1541262101796, '95', 'paid', 'SOTTNRD12A8C13F7B6', 'AR8YYNB1187B9A4BB3', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (364, 1541262101796, '95', 'paid', 'SOQOXTB12A8C1415C1', 'ARVT7AZ1187B9A9BB4', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"')]

In [6]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cr2tsmii5xip.us-west-2.redshift.amazonaws.com:5439/sparkifydwh
5 rows affected.

[('10', 'Sylvie', 'Cruz', 'F', 'free'),
 ('10', 'Sylvie', 'Cruz', 'F', 'free'),
 ('10', 'Sylvie', 'Cruz', 'F', 'free'),
 ('10', 'Sylvie', 'Cruz', 'F', 'free'),
 ('100', 'Adler', 'Barrera', 'M', 'free')]

In [7]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cr2tsmii5xip.us-west-2.redshift.amazonaws.com:5439/sparkifydwh
5 rows affected.

[('SOAAETA12A6D4FC626', 'Shine', 'ARQXK0B1187B9ACC97', 2007, Decimal('448')),
 ('SOAAGBO12AB017CEBB', 'Death Of Emmett Till', 'AR60ODO1187FB4D9AB', 2002, Decimal('233')),
 ('SOAAOLZ12A6D4FB403', 'Somebody Knew', 'ARRSUF71187FB52F33', 1997, Decimal('188')),
 ('SOABHSF12AB0182977', 'Perdicion', 'ARFD5AT1187FB40779', 0, Decimal('281')),
 ('SOABNBI12A8C13F890', 'Mon légionaire', 'AR5O86P1187FB3B8CD', 0, Decimal('216'))]

In [8]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cr2tsmii5xip.us-west-2.redshift.amazonaws.com:5439/sparkifydwh
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00Y9I1187B999412', 'Akercocke', '', None, None),
 ('AR00YYQ1187FB504DC', 'God Is My Co-Pilot', 'New York, NY', Decimal('40'), Decimal('-74')),
 ('AR01G6G1187B9892EF', 'Tonino Carotone', '', None, None),
 ('AR01SCU1187B9A693C', 'Street Dogs', 'Boston, MA', None, None)]

In [9]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cr2tsmii5xip.us-west-2.redshift.amazonaws.com:5439/sparkifydwh
5 rows affected.

[(1541106496796, 21, 1, 44, 11, 2018, 3),
 (1541110994796, 22, 1, 44, 11, 2018, 3),
 (1541137949796, 5, 2, 44, 11, 2018, 4),
 (1541150563796, 9, 2, 44, 11, 2018, 4),
 (1541152499796, 9, 2, 44, 11, 2018, 4)]

In [11]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
delete_cluster()
#### CAREFUL!!

[INFO] [2021-04-16 12:29:56,346] Deteleting Redshift cluster.